<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue Js</title>
    <script src="./vue.js"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script> -->
</head>
<body>
    <div id="app">
        <!-- <p>{{ title }}</p>
        <p>{{ isItTrue }}</p>
        <p>{{ cars[0] }}</p>
        <p>{{ robot.name }}</p>
        <p>{{ gretting() }}</p>
        <p>{{ grettingName() }}</p> -->

        <!-- <img v-bind:src="src" v-bind:alt="alt">
        <a v-bind:href="link">Click Me</a> -->

        <!-- <p v-text="myText"></p>
        <p v-html="html"></p> -->


        <!-- <p v-if="age > minAge">
            You are good to go
        </p>
        <p v-else-if="name = 'Biplob'">
            You are good
        </p>
        <p v-else="age < minAge">
            You are not good to go
        </p> -->


        <!-- <p v-show="name == 'Biplob'">
            Yes you are right.
        </p>

        <p v-show="name !== 'Biplob'">
            Yes you are not right.
        </p> -->



        <!-- <P v-for="car in cars">
            {{ car }}
        </P>
        <P v-for="(car, index) in cars">
            {{ index }} : {{ car }}
        </P>
        <P v-for="(value, index, key) in user">
            {{ key }} : {{ index }} :  {{ value }}
        </P> -->

        <!-- <p>{{ name }}</p> -->
        <!-- 2nd time re-reder na korte chaile v-once use korbo, er pole kono update thakle o seta kaj korbe na.  -->
        <!-- <p v-once>{{ name }}</p>  -->

        <!-- {{ update() }} -->

        <h1 v-text="name"></h1>
        <button v-on:click="update">Click me</button>
        <br><br><br>

        <div class="box" style="width:400px; height:400px; background:red;" v-on:mousemove="getCoord"></div>
        <p>X: {{ x }}</p>
        <p>Y: {{ y }}</p>




    </div>

    <script src="./app.js"></script>
</body>
</html>